NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/ai_support
JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
GEMINI_API_KEY=replace_me_gemini
CLIENT_URL=http://localhost:5173

# REDIS
REDIS_HOST=redis-10983.crce263.ap-south-1-1.ec2.cloud.redislabs.com
REDIS_PORT=10983
REDIS_PASSWORD=Cg36eRUGEESgaa786FesVn1NM8T5Hv5m
